.profilePage {
  min-height: calc(100vh - 3rem);
  margin-top: 4rem;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .profilePage {
    margin-top: 0;
    padding: 0 5rem;
  }
}

.categorySelector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 20px 0;
}

.categorySelect {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #45443a;
  color: var(--color-white);
}

.addMediaButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: var(--bold);
  cursor: pointer;
  background-color: var(--color-yellow);
  color: var(--color-black);
  transition: all 0.3s ease;
}

.addMediaButton:hover {
  background-color: var(--color-yellow);
}

.addMediaButtonLink {
  text-decoration: none;
  color: var(--color-black);
}
