.CardRoot {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100px;
    min-width: 100px;
    border-radius: 8px;
}
@media (min-width: 400px) {
    .CardRoot {
        width: 150px;
        min-width: 150px;
    }
}
@media (min-width: 768px) {
    .CardRoot {
        width: 200px;
        min-width: 200px;
    }
}

.ContainerImage {
    aspect-ratio: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.ContainerImage > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.ContainerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

.Title {
    /* font-size: var(--h2-size-tablet); */
    /* font-size: var(--h2-size-tablet); */
    margin: 0.25rem 0;
}

.Year {
    /* font-size: var(--h2-size-mobile); */
    margin: 0.25rem 0;
}