main {
  padding: 0 5rem;
}

.container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
@media (min-width: 768px) {
  .container {
    margin-top: 0;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
  }
}
