.addMediaPage {
  min-height: calc(100vh - 3rem);
  margin-top: 4rem;
}
@media (min-width: 1024px) {
  .addMediaPage {
    margin-top: 0;
    padding: 0 5rem;
  }
}

.mediaForm {
  width: clamp(320px, 90%, 1024px);
  border-radius: 8px;
  margin: 2rem auto;
  padding: 2rem auto;
  animation: fadeIn 0.5s ease;
}

.mediaForm h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.formField label {
  display: block;
  margin-bottom: 0.5rem;
}

.formField input[type="text"],
.formField input[type="number"],
.formField input[type="date"],
.formField textarea {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: var(--p-desc-size);
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
}

.formField input[type="checkbox"] {
  margin-top: 5px;
  width: 2rem;
  height: 2rem;
}

.formField textarea {
  resize: vertical;
  min-height: 100px;
}

.fullWidth {
  grid-column: 1 / -1;
}

.submitButton {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 2rem auto 0;
  padding: 1rem;
  background-color: var(--color-yellow);
  color: var(--color-black);
  border: none;
  border-radius: 4px;
  font-weight: var(--bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-yellow);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
